.css-1okebmr-indicatorSeparator {
    background-color: transparent!important;
}

.css-1s2u09g-control {
    padding: 5px 3px;
    border: 1px soliid rgb(226, 232, 240)!important;
    border-radius: 0.3rem!important;
}

.css-1y9o3lo[data-checked]{
    background-color: #0980FC!important;
}
